.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.description {
    width: 500px;
    background-color: rgb(179, 179, 179);;
    border: 3px solid #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.avatar {
    width: 350px;
    background-color: rgb(179, 179, 179);;
    border: 5px solid #ffffff;
    border-radius: 50%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.name {
    font-size: 35px;
    color: rgb(55, 48, 48);
}

.tag {
    font-size: 20px;
    color: rgb(132, 0, 255);
}

.location {
    font-size: 20px;
    color: rgb(55, 48, 48);;
}

.stats {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(179, 179, 179);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 3px solid #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stats>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    margin: 3px;
    background-color: rgb(199, 246, 255);
    color: rgb(55, 48, 48);
    border-radius: 5px;
}